/* Define your styles here */

.jmix-main-view-header {
  background-color: rgba(223, 223, 255, 0.35);
}

.jmix-main-view-navigation {
  background-color: rgba(223, 223, 255, 0.35);
}

.jmix-main-view-application-title {
  background-color: rgba(223, 223, 255, 0.35);
  color: rgb(34, 99, 212);
  margin: auto auto;
  text-align: center;
}

.blue-button {
  background-color: #3b3d3f;
  border-radius: 0;
  border: #fff 1px solid;
  color: #fdd300;
  height: 100px;
  white-space: normal !important;
  width: 100px;
  word-wrap: break-word !important;
}

.questions {
  font-size: 24px !important;
  font-weight: bold;
}

.education {
  background-color: #fed300;
}

.education-label {
  font-weight: bold;
  font-size: 1.1rem;
}

.attention {
  font-weight: bold;
  font-size: 1.05rem;
}

